@tailwind base;
@tailwind components;
html, body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(244, 255, 222, 1);
    
    
    
     
    
    
}

*{
    box-sizing: border-box;
}

:root{
    font-size: 16px;
}
@media only screen and (max-width:768px){
    :root{
        font-size: 12px
    }
}
@tailwind utilities;